/*--reset--*/
* {
    margin: 0;
    padding: 0;
}
::selection {
    /*color: #000;*/ /* Цвет текста */
    background: rgba(242, 215, 213, 0.5); /* Цвет фона */
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/*--general--*/
body{
    overflow-x: visible;
    overflow-y: visible;
    font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    padding: 5.7rem 0 0 0;
}
html{
    font-size: 14px;
}
section {
    margin-bottom: 10rem;
    overflow: hidden;
}
section p, footer p{
    color: #a0a0a0;
    font-size: 1rem;
}
span{
    color: white;
}
ul{
    list-style-type: none;
    margin: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}
li {
    display: inline-block;
    font-size: 1.1rem;
}
ul p {
    color: black;
}
a {
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #a0a0a0;
}
/*---header---*/
header{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
    -webkit-filter: drop-shadow(0px 0px 3px #d7d7d7);
    -moz-filter: drop-shadow(0px 0px 3px #d7d7d7);
    -o-filter: drop-shadow(0px 0px 3px #d7d7d7);
    -ms-filter: drop-shadow(0px 0px 3px #d7d7d7);
    filter: drop-shadow(0px 0px 3px #d7d7d7);
}
h1{
    margin: 0;
    padding: 0;
    font-size: 1.1rem !important;
    padding-top: 2rem;
    font-weight: normal !important;
}
nav {
    box-sizing: border-box;
    padding: 2rem 0 1rem 0;
}
#navigation-left ul li{
    margin-right: 2rem;
    padding: 0%;
}
#navigation-right ul li{
    padding: 0;
    margin-left: 2rem;
}
#no-margin-left{
    margin-left: 0 !important;  
}
.invis{
    margin: 0;
    padding: 0;
}

/*--sections--*/
.h-2{
    text-decoration: underline;
    text-transform: lowercase;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
#section-4 span, #section-5 span{
    color: #000;
    position: relative;
    display: inline-block;
}
#section-4 #clear{
    display: inline;
    color: white;
}
.cross{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    line-height: normal;
    transition: 1s linear;
}
.cross:after{
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #000;
    transition: width .4s ease-in-out;
    position: absolute;
    bottom: 75%;
}
#section-5 .cross:after{
    bottom: 18%;
}
.cross:hover:after{
    width: 100%;
}
.cross:active{
    color: #3d434b;
}
.cross:active:after{
    background-color: #3d434b;
}
section img {
    width: 100%;
    height: auto;
    background: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

/*--section-2--*/
#section-2, #section-6{
    background-color: #f3f3f3;
}
#section-2 ul{
    padding-top:10%;
}
#section-2 ul li{
    position: relative;
    margin-right: 0.75rem;
}
#section-2 .container-item{
    padding: 70% 0 0 0;
}

/*--section-3--*/
#section-3{
    margin: 0 0 5rem 0;
}
#section-3 h2{
    color: white;
}
#section-3 p{
    color: #b2b2b2;
}
#section-3 .container-item div{
    width: 80%;
}
#section-3 .picture-container{
    position: relative;
}
#section-3 .container-item{
    position: absolute;
    left: 65%;
}

/*--section-4-5--*/
#section-4 .container-item, #section-5 .container-item{
    padding: 15% 0 0% 15px;
}
#section-4 .container-item, #section-5 .container-item{
    padding: 15% 0 0% 15px;
}
#section-4 .view-project {
    padding: 0% 0 0 0;
}
#section-5 .view-project{
    margin-top: 110%;
}
.text-center a{
    display: block;
    position: relative;
}

/*--section-6--*/
.section-6{
    background-color: #f3f3f3;
}
.rowpic{
    margin: 0;
    padding: 3px;
}
#picture-row{
    padding: 5% 0 5% 0;
}
#section-6{
    margin-bottom: 0;
}


/*--section-7--*/
#section-7{
    padding: 8rem 0 0 0;
    margin-bottom: 4rem;
}
#email{
    width: 80%;
    box-sizing: content-box;
    padding: 1.4rem 0 0.7rem 0;
    position: relative;
    left: 10%;
    box-shadow: 0 0 5px 3px #f7f7f7;
    margin: 5rem 0;

}
#email-field{
    border: none;
    outline: none;
    -webkit-appearance: none;
    vertical-align: middle;
    text-align: left;
    width: 75%;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 1.5rem;
}
#arrow-button{
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #6d767b;
    background: url("icons/arrow-button-01.png") no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;
    left: 2.5%;
    transition: .2s linear;
}
#arrow-button:hover{
    border: 1px solid black;
    -webkit-filter: brightness(0);
    -moz-filter: brightness(0);
    -o-filter: brightness(0);
    -ms-filter: brightness(0);
    filter: brightness(0);
}
#arrow-button:active{
    border: 1px solid #3d434b;
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    -o-filter: brightness(0.5);
    -ms-filter: brightness(0.5);
    filter: brightness(0.5);
    /*box-shadow: 0 0 5px 1px #d7d7d7;*/
}

/*--footer--*/
.links-column{
    display: inline-block;
    padding: 0 5% 15% 0;
    margin: 0;
}
.links-column p{
    padding: 1rem 0 0rem 0;
    margin: 0;
    line-height: normal;
    transition: .2s linear;
}
.links-column-header{
    color: black;
    font-weight: bold;
    padding: 0 0 2rem 0!important;
}
#icons-text{
    width: 100%;
}
#icons {
    padding: 0 0 0 4%;
}
#icons img{
    width: 60%;
    height: auto;
    padding: 0;
    margin-bottom: 2rem;
    transition: .2s linear;
}
#icons a{
    width: 20%;
}

/*--hover-active-visited--*/
#icons a:hover img{
    -webkit-filter: brightness(0);
    -moz-filter: brightness(0);
    -o-filter: brightness(0);
    -ms-filter: brightness(0);
    filter: brightness(0);
}
#icons a:active img{
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    -o-filter: brightness(0.5);
    -ms-filter: brightness(0.5);
    filter: brightness(0.5);
}

.links-column a:hover p {
    color: #3d434b !important;
    text-decoration: none;
}
.links-column a:after{
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: #3d434b;
    transition: width .4s ease-in-out;
}

.links-column a:hover:after{
    width: 100%;
}
.links-column a:active p{
   /*text-shadow: 0 0 5px #e0e0e0;*/
    color: #6d767b !important;
}
.links-column a:active:after{
    width: 100%;
    background-color: #6d767b;
}
.links-column a:visited{
    color: #d2d2d2;
    text-decoration: none;
}



/*--rotated-text--*/
.rotate-left{
    -webkit-transform: rotate(-90deg); /*Chrome, Safari*/
    -moz-transform: rotate(-90deg); /*Firefox*/
    -o-transform: rotate(-90deg); /*Opera*/
    -ms-transform: rotate(-90deg); /*IE*/
    transform: rotate(-90deg); /*браузеры без префиксов*/
}
.rotate-right{
    -webkit-transform: rotate(-270deg); /*Chrome, Safari*/
    -moz-transform: rotate(-270deg); /*Firefox*/
    -o-transform: rotate(-270deg); /*Opera*/
    -ms-transform: rotate(-270deg); /*IE*/
    transform: rotate(-270deg); /*браузеры без префиксов*/
}
.rotate-left, .rotate-right {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: black;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
.rotate-left, .rotate-right{
    letter-spacing: 0.4em;
}



@media only screen and (max-width: 1920px){
    #section-2 .container-item p, #section-4 .container-item p, #section-5 .container-item p, #icons-text p{
        max-width: 430px;
    }
    #section-3 .container-item{
        bottom: 15%;
        width: unset;
    }
    #section-5 .view-project{
        text-align: center;
    }
}
@media only screen and (max-width: 1199px){
    .rotate-left, .rotate-right{
        font-size: 0.9rem;
    }
    #icons a{
        width: 20%;
    }
    #arrow-button{
        left: 1%;
    }
    .links-column p{
        font-size: 13px;
    }
    #section-3 .container-item{
        bottom: 5%;
        width: unset;
    }
}
@media only screen and (max-width: 991px){
    html{
        font-size: 12px;
    }
    h2{
        font-size: 28px !important;
    }
    #section-2 .container-item p, #section-4 .container-item p, #section-5 .container-item p, #icons-text p{
        max-width: unset;
    }
    #section-2 .container-item, #section-4 .container-item, #section-5 .container-item, #section-4 .view-project, #section-5 .view-project{
        padding-top: 0%;
    }
    #section-2 .container-item h2{
        padding-top: 20%;
    }
    #section-3 .container-item{
        left: 63%;
        bottom: 1%;
        width: 43%;
        max-width: 250px;
    }
    #section-3 .container-item p{
        padding: 0% 0 0% 0;
    }
    #icons a{
        width: 20%;
    }
    #arrow-button{
        width: 3rem;
        height: 3rem;
        left: 0.5%;
    }
    #email-field{
        bottom: 1.2rem;
    }
}
@media only screen and (max-width: 767px){
    body{
        padding: 0;
    }
    header{
        background-size: cover;
        position: relative;
    }
    header ul{
        width: 23%;
        background-color: white;
    }
    header ul li{
        padding-left: 50px !important;
    }
    nav{
        padding: 10px 0 10px 0;
        position: absolute;
        opacity: 0.8;
        padding: 4rem 0 3rem 0;
    }
    h1{
        font-weight: bold !important;
        padding-top: 4rem;
    }
    #title{
        position: absolute;
        top: -20px;
        text-align: left !important;
        padding: 0 0 0 50px;
    }
    #navigation-right{
        margin-top: -12.5px;
        padding: 0 0 10px 0;
        text-align: left !important;
    }
    #navigation-right ul li{
        margin-left: 0; 
    }
    #navigation-left{
        padding: 55px 0 0 0;
    }
    .navigation{
        padding: 0px;
    }
    .invis{
        display: none !important;
    }
    #navigation-right ul:last-child{
        padding-top: 13px !important;
    }
    section p, #icons-text p, .h-2{
        text-align: center;
    }
    section{
        margin-bottom: 20px;
    }
    #icons{
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #icons a{
        width: 25%;
    }
    #icons-text p{
        padding: 10px 0 20px 0;
    }
    #icons, #footer-links{
        margin: 0 auto;
        text-align: center;
    }
    #footer-links p{
        font-size: 11px;
    }
    #section-1{
        padding-top: 0px;
        position: absolute;
        width: 55%;
        right: -0%;
        top: 0px;
        margin-bottom: 0;
    }
    #section-1 .picture-container{
        padding: 0px 15px 0px 0;
        height: 252px;
        margin-right: 0px;
        background-color: gray;
        background-image: url("photos/iceberg.jpg");
        background-size: cover;
    }
    #section-1 .picture-container img{
        
    }
    #section-2 .container-item .h-2{
        padding-top: 10px;
    }
    #section-2 .container-item, #section-4 .container-item, #section-5 .container-item, #section-4 .view-project, #section-5 .view-project{
        padding: 0% 4% 0% 4%;
    }
    #section-3 .container-item{
        position: unset;
        width: unset;
        max-width: unset;
    }
    #section-3 .container-item .h-2{
        color: inherit;
    }
    #section-3 .container-item div{
        width: 100%;
    }
    #section-3 img{
        display: none;
    }
    #section-4 .view-project, #section-5 .view-project, #section-2 ul{
        text-align: center !important;
        padding: 10px 0 10px 0;
    }
    #section-5 .h-2{
        padding-top: 20px;
    }
    #section-5 .container-item{
        text-align: center !important;
    }
    #section-5 .view-project{
        margin-top: 0%;
    }
    #section-5 .cross:after{
        bottom: 65%;
    }
    #section-4 .cross:after{
        bottom: 65%;
    }
    #section-7{
        margin-bottom: 0;
    }
    #picture-row{
        padding: 5% 4% 5% 4%;
    }
    #icons img{
        width: 50%;
    }
    #arrow-button{
        width: 2.5rem;
        height: 2.5rem;
        left: 0.5%;
    }
    #email-field{
        bottom: 1rem;
    }  
}


